<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Scooter</string>
		<key>Photo</key>
		<string>20</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sparky</string>
		<key>Photo</key>
		<string>19</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Max</string>
		<key>Photo</key>
		<string>18</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Joey</string>
		<key>Photo</key>
		<string>17</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bubba</string>
		<key>Photo</key>
		<string>16</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cody</string>
		<key>Photo</key>
		<string>15</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Oscar</string>
		<key>Photo</key>
		<string>14</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ziggy</string>
		<key>Photo</key>
		<string>13</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ollie</string>
		<key>Photo</key>
		<string>12</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Zeus</string>
		<key>Photo</key>
		<string>11</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Winston</string>
		<key>Photo</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chester</string>
		<key>Photo</key>
		<string>9</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Charlie</string>
		<key>Photo</key>
		<string>8</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Thor</string>
		<key>Photo</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Luke</string>
		<key>Photo</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hunter</string>
		<key>Photo</key>
		<string>5</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jackson</string>
		<key>Photo</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Riley</string>
		<key>Photo</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rocco</string>
		<key>Photo</key>
		<string>2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Elvis</string>
		<key>Photo</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ace</string>
		<key>Photo</key>
		<string>0</string>
	</dict>
</array>
</plist>
